@charset "UTF-8";

/* 基本設定 */
* {
    margin: 0;
}

/* width:  横幅を画面の幅は親サイズに100%表示する */
/* height: 横幅に合わせて縦幅を調整 */
img {
    width: 100%;
    height: auto;
}

/* ページ全体 */
body {
    /*グリッドレイアウトモードにする*/
    display: grid;
    /* 左列に20px, 真ん中の列、右列に20px */
    grid-template-columns: 20px 1fr 20px;
    /* 各行に名前をつける */
    grid-template-rows: 
        [head] 100px
        [title] auto
        [sub] auto
        [recent] auto
        [foot] 100px;
    /* rowの空白 */
    grid-row-gap: 20px;
    row-gap: 20px;
}

/* パーツ配置 */
body > * {
    /* 2列から-2列までを使用する */
    grid-column: 2 / -2;
}

header {
    grid-row: head;
}

nav {
    grid-row head;
}

/* ヒーローイメージ */
figure {
    /* 1列から-1列までを使用する */
    grid-column: 1 / -1;
    grid-row: title / span 2;
}

h1 {
    grid-row: title;
}

p {
    grid-row: sub;
}

section {
    grid-row: recent;
}

footer {
    grid-row: foot;
}

